<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Quinta S. Antonio {{ header }}{% endblock %}</title>
        {% block stylesheets %}
          <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
          <link rel="stylesheet" href="/css/print.css">
        {% endblock %}
    </head>
    <body>
          {% set month = {"name" : date|localizeddate('none', 'none', null, "Europe/Lisbon", "MMMM y")|capitalize , "daysInMonth" : date|date('t'), "currentMonth" : date|date('m'), "currentYear" : date|date('Y')} %}
          {% set totais = 0 %}
          <page size="A4">
            <h1>Controle de tratamentos, colheitas e sementeiras</h1>
            <table class="table table-bordered"> 
              <thead> 
                <tr> 
                  <th colspan="{{ ciclo.tratamentos|length + 2}}" style="text-align: center;">{{ ciclo.mesa.name }} - {{ ciclo.mesa.type }}</th>
                  <th style="text-align: center;">Data</th>
                </tr> 
              </thead> 
              <tbody style="text-align: center;font-weight: bold;"> 
                <tr>
                  {% if ciclo.tratamentos|length > 0 %}
                    <td colspan="{{ ciclo.tratamentos|length}}">Tratamentos</td>
                  {% endif %}
                  <td>Colheitas</td>
                  <td>Data de sementeira</td>
                  <td rowspan="2">{{ month.name }}</td>
                </tr>
                <tr>
                  {% for tratamento in ciclo.tratamentos %}
                    <td rowspan="2">{{ tratamento.produto.name }} {{ tratamento.produto.days }}</td>
                  {% endfor %}
                  <td rowspan="2">{{ ciclo.type.name|upper }}</td>
                  <td>{{ ciclo.type.name|upper }}</td>
                </tr>
                <tr>
                  <td>{{ciclo.createdAt|date('d/m/Y')}}</td>
                  <td>Dia</td>
                </tr>
                {% for index, day in range(1, month.daysInMonth) %}
                  {% set currentDate = month.currentYear ~ "-" ~ month.currentMonth ~ "-" ~ day %}

                  <tr>   
                    {% if ciclo.isEnded %}
                      {% for tratamento in ciclo.tratamentos %}
                        <td {% if  (currentDate|date('Y-m-d') >= tratamento.createdAt|date('Y-m-d')) and (currentDate|date('Y-m-d') <= tratamento.endedAt|date('Y-m-d')) %}class="danger"{% endif %}>
                        {% if  (currentDate|date('Y-m-d') >= tratamento.createdAt|date('Y-m-d')) and (currentDate|date('Y-m-d') <= tratamento.endedAt|date('Y-m-d')) %}
                          X
                        {% endif %}
                        </td>
                      {% endfor %}
                    {% else %}
                      {% for tratamento in ciclo.tratamentos %}
                        {% if tratamento.produto.days > 1 %}
                          {% set endProduto = tratamento.produto.days ~ " days" %}
                        {% else %}
                          {% set endProduto = tratamento.produto.days ~ " day" %}
                        {% endif %}
                        <td {% if  (currentDate|date('Y-m-d') >= tratamento.createdAt|date('Y-m-d')) and (currentDate|date('Y-m-d') <= tratamento.createdAt|date_modify(endProduto)|date('Y-m-d')) %}class="danger"{% endif %}>
                        {% if  (currentDate|date('Y-m-d') >= tratamento.createdAt|date('Y-m-d')) and (currentDate|date('Y-m-d') <= tratamento.createdAt|date_modify(endProduto)|date('Y-m-d')) %}
                          X  
                        {% endif %}
                        </td>
                      {% endfor %}
                    {% endif %}
                    <td>
                      {% for clh in ciclo.colheitas %}
                          {% if clh.createdAt|date('d/m/Y') == currentDate|date('d/m/Y') %} 
                              {{clh.kg}} KG 
                              {% set totais = totais + clh.kg %}
                          {% endif %}
                      {% endfor %}
                    </td>
                    <td {% if ciclo.createdAt|date('d/m/Y') == currentDate|date('d/m/Y') %} class="bg-info" {% endif %}>
                      {% if ciclo.createdAt|date('d/m/Y') == currentDate|date('d/m/Y') %} {{ciclo.createdAt|date('d/m/Y')}} {% endif %}
                    </td>
                    <td>{{ day }}</td>
                  </tr>
                {% endfor %}
                {% if totais > 0 %}
                  <tr>
                    {% if ciclo.tratamentos|length > 0 %}
                      <td colspan="{{ ciclo.tratamentos|length}}" style="text-align: left;"><b>Totais</b></td>
                      <td>
                       {{ totais }} KG
                      </td>
                      <td colspan="2"></td>
                    {% else %}
                      <td colspan="{{ ciclo.tratamentos|length}}" style="text-align: left;"><b>Totais</b>
                       {{ totais }} KG
                      </td>
                      <td colspan="3"></td>
                    {% endif %}
                  </tr>
                 {% endif %}
              </tbody> 
            </table>
          </page>

    </body>
</html>
