{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Home</a></li>
      <li><a href="{{ path('estufa', { 'type' : mesa.type|lower }) }}">Estufa {{ mesa.type }}</a></li>
      <li class="active">{{ mesa.name}}</li>
    </ol>
    
    <div class="content">
  		<h3>Estufa {{ mesa.type }}{{ mesa.name}}</h3>
  		<hr>
      {% if mesa.ciclos is not empty %}
      {% for ciclo in mesa.ciclos %}
      {% if ciclo.isActive  %}
      <div class="jumbotron">
        <ul class="list-unstyled">
          <li><h3>Sementes: {{ ciclo.type.name|upper }}</h3></li>
          <li><h3>Sementeira: {% if ciclo.sementeira is not null  %} {{ ciclo.sementeira.createdAt|date("d/m/Y") }} {% else %} - {% endif %}</h3></li>
          <li><h3>Plantação: {{ ciclo.createdAt|date("d/m/Y") }}</h3></li>
          <li role="separator" class="divider"></li>
          <li><h3>Tratamentos: </h3>
            {% if ciclo.tratamentos is not empty %}
            <ul>
              {% for tratamento in ciclo.tratamentos %}
              <li {% if "now"|date('Y-m-d') <= tratamento.getExpirationDate()|date('Y-m-d') %}class="text-danger"{% else %}class="text-success"{% endif %}>
                <b><a href="{{ path('produto', {'id': tratamento.produto.id }) }}" class="text-danger">{{ tratamento.produto.name }}</a></b>  ( Creação : {{ tratamento.createdAt|date("d/m/Y") }} / Expiração : {{tratamento.getExpirationDate()|date("d/m/Y")}} )
              </li>
              {% endfor %}
            </ul>
           {% endif %}
           </li>
           <li role="separator" class="divider"></li>
          <li><h3>Colheitas: </h3>
            {% if ciclo.colheitas is not empty %}
            <ul>
              {% for colheita in ciclo.colheitas %}
              <li>
                <b>{{ colheita.kg }} Quilos</b>  ( {{ colheita.createdAt|date("d/m/Y") }} )
              </li>
              {% endfor %}
            </ul>
           {% endif %}
           </li>
        </ul>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
      <h3>Acçóes:</h3>
      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_rest(form) }}
      </div>
      {% if mesa.ciclos is not empty %}

      <div class="jumbotron">
          <h3>Velhos Ciclos:</h3>
          <ul>
            {% for ciclo in mesa.ciclos %}
                {% if ciclo.isActive == 0 %}
                <li>{{ ciclo.type.name }} ( {{ ciclo.createdAt|date("d/m/Y - H:i") }} / {{ ciclo.updatedAt|date("d/m/Y - H:i") }} )</li>
                {% endif %}
            {% endfor %}
          </ul>
      </div>
      {% endif %}
    </div>

<div class="modal fade" id="modalCheck" tabindex="-1" role="dialog" aria-labelledby="modalCheckLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalCheckLabel">Check</h4>
      </div>
      <div class="modal-body">
        Tem certeza?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-danger" id="confirm">Acabar</button>
      </div>
    </div>
  </div>
</div>

   <script>
    var $collectionHolderTratamentos;

    var $collectionHolderColheitas;

    var $addTratamentoLink = $('<div class="form-class text-center"><button type="button" class="btn btn-primary add_tratamento_link"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar um tratamento</button></div>');

    var $addColheitaLink = $('<div class="form-class text-center"><button type="button" class="btn btn-primary add_colheita_link"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar uma colheita</button></div>');

    var $newTratamentoLinkLi = $addTratamentoLink;

     var $newColheitaLinkLi = $addColheitaLink;

    $(document).ready(function() {

          $collectionHolderTratamentos = $('#appbundle_mesa_ciclo_tratamentos');
         
          $collectionHolderTratamentos.insertBefore($newTratamentoLinkLi);

          $collectionHolderTratamentos.data('index', $collectionHolderTratamentos.find(':input').length);

          $addTratamentoLink.on('click', function(e) {

              e.preventDefault();

              addTratamentoForm($collectionHolderTratamentos, $newTratamentoLinkLi);

          });

          $collectionHolderColheitas = $('#appbundle_mesa_ciclo_colheitas');
         
          $collectionHolderColheitas.append($newColheitaLinkLi);

          $collectionHolderColheitas.data('index', $collectionHolderColheitas.find(':input').length);

          $addColheitaLink.on('click', function(e) {

              e.preventDefault();

              addColheitaForm($collectionHolderColheitas, $newColheitaLinkLi);
              
          });

          $("#confirm").on("click", function(){
              $("#appbundle_mesa_close").unbind('click');
              $("#appbundle_mesa_close").trigger('click');
          });

          $("#appbundle_mesa_close").on("click", function(e){
              e.preventDefault();
          });

          $('.js-datepicker').datepicker({
              format: 'dd-mm-yyyy'
          });

      });

      function addTratamentoForm($collectionHolderTratamentos, $newTratamentoLinkLi) {

        var prototype = $collectionHolderTratamentos.data('prototype');

        var index = $collectionHolderTratamentos.data('index');

        var newForm = prototype.replace(/__name__/g, index);

        $collectionHolderTratamentos.data('index', index + 1);

        var $newFormDiv = $(newForm);

        addFormDeleteLink($newFormDiv.find('.collection-box'));

        $newTratamentoLinkLi.before($newFormDiv);

      }


      function addColheitaForm($collectionHolderColheitas, $newColheitaLinkLi) {

        var prototype = $collectionHolderColheitas.data('prototype');

        var index = $collectionHolderColheitas.data('index');

        var newForm = prototype.replace(/__name__/g, index);

        $collectionHolderColheitas.data('index', index + 1);

        var $newFormDiv = $(newForm);

        addFormDeleteLink($newFormDiv.find('.collection-box'));
        
        $newColheitaLinkLi.before($newFormDiv);

      }


      function addFormDeleteLink($Form) {

          var $removeFormA = $('<div class="form-class text-center"><a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Eliminar</a></div>');

          $Form.append($removeFormA);

          $removeFormA.on('click', function(e) {

              e.preventDefault();

              $Form.parent().remove();
          });
      }

    </script>


{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

