{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Home</a></li>
      <li class="active">Lista Qrcode</li>
    </ol>
    
    <div class="content">

      <h3>Lista Qrcode</h3>
      <hr>

      <div class="jumbotron">
        <h3>Lista</h3>
        <hr>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th><th>Mesa</th><th>Estufa</th><th>Qrcode</th>
                  </tr>
                </thead>
                <tbody>
                  {% for mesa in mesas %}
                    <tr>
                      <th scope="row">{{ mesa.id }}</th>
                      <td>{{ mesa.name }}</td>
                      <td>{{ mesa.type }}</td>
                      <td><a href="{{ path('qrcode_print', {'id': mesa.id}) }}"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span></a></td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
 
    </div>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

