{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Home</a></li>
      <li class="active">Sementeiras</li>
    </ol>
    
    <div class="content">
  		<h3>Sementeiras</h3>
  		<hr>
      <div class="jumbotron">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th><th>Tipo</th><th>Mês<th>Data de tabuleiro</th><th>Operações</th>
            </tr>
          </thead>
          <tbody>
            {% for sementeira in sementeiras %}
              <tr>
                <td><a href="{{ path('sementeira', {'id': sementeira.id }) }}" ><span class="glyphicon glyphicon-th" aria-hidden="true"></span> {{ sementeira.id }}</a></td>
                <td>{{ sementeira.type.name }}</td>
                <td>{{ sementeira.createdAt|localizeddate('none', 'none', null, "Europe/Lisbon", "MMMM y")|capitalize }}</td>
                <td>{{ sementeira.createdAt|date("d/m/Y - H:i") }}</td>
                <td><a href="{{ path('sementeira', {'id': sementeira.id }) }}" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
              </tr> 
            {% endfor %}
          </tbody>
        </table>
        <a href="{{ path('add_sementeira') }}" role="button" class="btn btn-primary add_sementeira_link">
        	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar uma sementeira
        </a>
      </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

